body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fae1dd;
    margin: 0;
}
.contenedor{
    position: relative;
}
.superior{
    position: absolute;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 120px solid #f08080;
    border-bottom: 120px solid transparent;
    
    transform: .75s;
}
.mensaje{
    position: absolute;
    padding: 1.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 22px;
    background: #eae2b7;
    width: 360px;
    height: 240px;
    z-index: -1;
}
.carta{
    border-left: 180px solid #faa896;
    border-right: 180px solid #f4978e;
    border-top: 120px solid transparent;
    border-bottom: 120px solid #f8ad9d;
}